{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="featured-section">New Post</h2>
        <form method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title">
                <div class="error">{{error}}</div>
            </div>
            <div class="form-group">
                <label for="body">Content</label>
                <textarea rows="15" cols="50" class="form-control" name="body" value="{{body}}" placeholder="Enter your text here."></textarea>
                <div class="error">{{error}}</div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}