{% extends "layout.html" %}

{% block content %}
    {% if user %}
        {{post.render(user.key().id()) | safe}}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error">{{error}}</div>
                    <div class="edit-butons">
                        <br>
                        <a href="/edit-post/{{post.key().id()}}" class="btn">Edit Post</a>
                        <a href="/delete/{{post.key().id()}}" class="btn">Delete Post</a>
                        <a href="/{{post.key().id()}}/add-comment" class="btn">Add Comment</a>
                        <a href="/{{post.key().id()}}/like-post" class="btn">Like</a>
                        <a href="/{{post.key().id()}}/unlike-post" class="btn">Unlike</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Comments</h3>
                    <div class="comment">
                    {% for c in comments %}
                        <h3><em>{{c.user_name}}</em></h3>
                        <p>{{c.comment}}</p>
                        <a href="/{{post.key().id()}}/edit-comment/{{c.user_id}}/{{ c.key().id() }}">Edit Comment</a><br>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="featured-section">{{post.title}}</h2>
        <br>
        <h2><em>By {{ post.author }}</em></h2>
        <div class="post-date">
            {{ post.created.strftime("%b %d, %Y") }}
        </div>
            <p>{{post.body}}</p>
        <div class="comment">
        {% for c in comments %}
            <h3><em>{{c.user_name}}</em></h3>
            <p>{{c.comment}}</p>
        {% endfor %}
        </div>
        <br>
        <b>Likes: {{post.likes_total}}</b>
        <br>
        <div class="error">{{error}}</div>
    {% endif %}
{% endblock %}